/* line 1, ../sass/_common.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/_common.sass */
body {
  border-top: 10px solidbackground-image(linear-gradient(#ffff00, #999900));
  margin: 0;
  font-family: "Microsoft JhengHei", "Arial";
}

/* line 8, ../sass/_common.sass */
body:after {
  content: "";
  display: table;
  clear: both;
}

/* line 13, ../sass/_common.sass */
::selection {
  color: white;
  background: black;
}

/* line 17, ../sass/_common.sass */
.pull-right {
  diaplay: inline-block;
  float: right;
}

/* line 21, ../sass/_common.sass */
.text-center {
  text-align: center;
}

/* line 24, ../sass/_common.sass */
.full-screen {
  width: 100%;
}

/* line 27, ../sass/_common.sass */
.clear {
  clear: both;
}

/* line 30, ../sass/_common.sass */
.inlineBlock {
  display: inline-block;
}

/* line 34, ../sass/_common.sass */
.timeLine {
  background-color: #f8f8f8;
  padding: 0.1em 0;
}

/* line 38, ../sass/_common.sass */
.text-left {
  text-align: left;
}

/* line 40, ../sass/_common.sass */
.text-right {
  text-align: right;
}

/* line 42, ../sass/_common.sass */
.ps {
  color: #949494;
  font-size: 11pt;
  margin: -1em 1.5em 0 0;
}

/* line 47, ../sass/_common.sass */
.dialog {
  width: 8em;
  height: 2em;
  background: black;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 2em;
  color: white;
  font-size: 5pt;
  padding: 0.5em;
  margin: 0 auto;
  display: none;
}

/* line 60, ../sass/_common.sass */
.dialog:after {
  content: "";
  position: absolute;
  bottom: -13px;
  right: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.6em;
  border-color: black transparent transparent transparent;
}

/* line 73, ../sass/_common.sass */
.pointer {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  /* line 2, ../sass/_grid.sass */
  .menu, .banner {
    display: none;
  }

  /* line 4, ../sass/_grid.sass */
  .col-mobile-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  /* line 7, ../sass/_grid.sass */
  .screenWidth {
    width: 740px;
    margin: 0 auto;
  }

  /* line 10, ../sass/_grid.sass */
  .menu, .banner {
    display: inherit;
  }
}
@media screen and (min-width: 767px) {
  /* line 14, ../sass/_grid.sass */
  .menu, .banner {
    display: none;
  }

  /* line 16, ../sass/_grid.sass */
  .m12 {
    width: 100%;
    float: left;
  }

  /* line 20, ../sass/_grid.sass */
  .m10 {
    width: 83.33333%;
    float: left;
  }

  /* line 24, ../sass/_grid.sass */
  .m8 {
    width: 66.66667%;
    float: left;
  }

  /* line 28, ../sass/_grid.sass */
  .m6 {
    width: 50%;
    float: left;
  }

  /* line 32, ../sass/_grid.sass */
  .m4 {
    width: 33.33333%;
    float: left;
  }

  /* line 36, ../sass/_grid.sass */
  .m2 {
    width: 16.66667%;
  }
}
@media screen and (min-width: 980px) {
  /* line 40, ../sass/_grid.sass */
  .screenWidth {
    margin: 0 auto;
  }

  /* line 43, ../sass/_grid.sass */
  .menu, .banner {
    display: inherit;
  }

  /* line 45, ../sass/_grid.sass */
  .m12 {
    width: 100%;
    float: left;
  }

  /* line 49, ../sass/_grid.sass */
  .m10 {
    width: 83.33333%;
    float: left;
  }

  /* line 53, ../sass/_grid.sass */
  .m8 {
    width: 66.66667%;
    float: left;
  }

  /* line 57, ../sass/_grid.sass */
  .m6 {
    width: 50%;
    float: left;
  }

  /* line 61, ../sass/_grid.sass */
  .m4 {
    width: 33.33333%;
    float: left;
  }

  /* line 65, ../sass/_grid.sass */
  .m2 {
    width: 16.66667%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 69, ../sass/_grid.sass */
  .screenWidth {
    width: 1024px;
    margin: 0 auto;
  }

  /* line 72, ../sass/_grid.sass */
  .footer {
    margin: 0 auto;
  }

  /* line 74, ../sass/_grid.sass */
  .menu, .banner {
    display: inherit;
  }

  /* line 76, ../sass/_grid.sass */
  .m12 {
    width: 100%;
    float: left;
  }

  /* line 80, ../sass/_grid.sass */
  .m10 {
    width: 83.33333%;
    float: left;
  }

  /* line 84, ../sass/_grid.sass */
  .m8 {
    width: 66.66667%;
    float: left;
  }

  /* line 88, ../sass/_grid.sass */
  .m6 {
    width: 50%;
    float: left;
  }

  /* line 92, ../sass/_grid.sass */
  .m4 {
    width: 33.33333%;
    float: left;
  }

  /* line 96, ../sass/_grid.sass */
  .m2 {
    width: 16.66667%;
  }

  /* line 100, ../sass/_grid.sass */
  .offset {
    margin-left: 15em;
    margin-right: 15em;
  }
}
/* line 1, ../sass/_colorLine.sass */
.colorLine {
  height: 6px;
  background: -webkit-gradient(linear, to left, to right, color-stop(5%, #ff9393), color-stop(20%, #ffd092), color-stop(35%, #fffe92), color-stop(50%, #95ff91), color-stop(65%, #92e1ff), color-stop(80%, #b292ff), color-stop(95%, #f391fe));
  background: -webkit-linear-gradient(to left, #ff9393 5%, #ffd092 20%, #fffe92 35%, #95ff91 50%, #92e1ff 65%, #b292ff 80%, #f391fe 95%);
  background: -moz-linear-gradient(to left, #ff9393 5%, #ffd092 20%, #fffe92 35%, #95ff91 50%, #92e1ff 65%, #b292ff 80%, #f391fe 95%);
  background: -o-linear-gradient(to left, #ff9393 5%, #ffd092 20%, #fffe92 35%, #95ff91 50%, #92e1ff 65%, #b292ff 80%, #f391fe 95%);
  background: linear-gradient(to left, #ff9393 5%, #ffd092 20%, #fffe92 35%, #95ff91 50%, #92e1ff 65%, #b292ff 80%, #f391fe 95%);
}

/* line 1, ../sass/_header.sass */
.header {
  margin: 3em 2em 3em 2em;
}

/* line 1, ../sass/_menu.sass */
.menu {
  padding: 0.8em 5em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
/* line 5, ../sass/_menu.sass */
.menu a {
  color: black;
  text-decoration: none;
  margin: 0 3em 0 0;
  padding: 0 0 0.5em 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 11, ../sass/_menu.sass */
.menu a:hover {
  border-bottom: 3px solid black;
}
/* line 13, ../sass/_menu.sass */
.menu a:hover:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: black transparent transparent transparent;
  margin: -13px 0 0 1.2em;
}
/* line 21, ../sass/_menu.sass */
.menu .pull-right > a:hover:before {
  content: "";
}
/* line 24, ../sass/_menu.sass */
.menu .pull-right > a {
  margin: 0;
}

/* line 1, ../sass/_banner.sass */
.banner {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
/* line 6, ../sass/_banner.sass */
.banner ul.img {
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
}
/* line 11, ../sass/_banner.sass */
.banner ul.img li {
  display: inline-block;
}
/* line 13, ../sass/_banner.sass */
.banner ul.img img {
  width: 100%;
  margin: 0 0 1em 0;
}

/* line 17, ../sass/_banner.sass */
.imgControl {
  position: absolute;
  z-index: 99;
}
/* line 20, ../sass/_banner.sass */
.imgControl li {
  list-style: none;
}
/* line 22, ../sass/_banner.sass */
.imgControl .control {
  width: 0.5em;
  height: 0.5em;
  border: 1px solid black;
  float: left;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  margin-right: 20px;
}
/* line 29, ../sass/_banner.sass */
.imgControl .control.active {
  background-color: black;
}

/* line 3, ../sass/_content.sass */
.introduct .introBor {
  border: 1px solid #434343;
  margin: 0 0 5em 0;
}
/* line 6, ../sass/_content.sass */
.introduct .introBor .title {
  font-size: 16pt;
  padding: 0.5em 0 0.5em 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #434343;
  background-color: #434343;
  color: white;
  text-align: center;
}
/* line 14, ../sass/_content.sass */
.introduct .introBor .body {
  padding: 0 0.5em 0.5em 0.5em;
  line-height: 1.5em;
}
/* line 17, ../sass/_content.sass */
.introduct .introBor .body img {
  margin: 0 0 0.5em 0;
}
/* line 19, ../sass/_content.sass */
.introduct .introBor .body a {
  color: black;
  text-decoration: none;
}
/* line 22, ../sass/_content.sass */
.introduct .introBor .body > .about {
  margin-bottom: 1.15em;
}
/* line 24, ../sass/_content.sass */
.introduct .introBor .body > .about > .left {
  display: inline-block;
}
/* line 26, ../sass/_content.sass */
.introduct .introBor .body > .about > .left > img {
  margin: 0;
}
/* line 28, ../sass/_content.sass */
.introduct .introBor .body > .about > .right {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  margin: 0.5em;
  color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 0.3em;
  font-weight: bold;
}
/* line 37, ../sass/_content.sass */
.introduct .introBor .moreBtn {
  text-align: center;
}
/* line 39, ../sass/_content.sass */
.introduct .introBor.about {
  padding: 1.5em 1.5em 0;
}
/* line 41, ../sass/_content.sass */
.introduct .introBor.about > .intro {
  line-height: 25px;
  color: #3a3a3a;
}
/* line 44, ../sass/_content.sass */
.introduct .introBor.about > hr {
  margin: 1em 0 2em 0;
}
/* line 47, ../sass/_content.sass */
.introduct .introBor.about > .text-center > .skills:after {
  content: "";
  padding: 1em 0;
  border-right: 1px solid #969696;
  position: relative;
  top: -75px;
  right: -92px;
}
/* line 54, ../sass/_content.sass */
.introduct .introBor.about > .text-center > .skills:last-child:after {
  content: "";
  border: 1px solid transparent;
}
/* line 58, ../sass/_content.sass */
.introduct .introBor.about > .text-center > .skills {
  display: inline-block;
  padding: 0 1em;
}
/* line 61, ../sass/_content.sass */
.introduct .introBor.about > .text-center > .skills > .skill {
  padding: 0.5em 2em;
  margin: 0 0 0.5em 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: white;
  text-align: center;
}

/* line 69, ../sass/_content.sass */
.introSpace {
  margin: 0 0.5em;
}

/* line 73, ../sass/_content.sass */
.linkBorder {
  clear: both;
  border: 1px solid black;
}

/* line 80, ../sass/_content.sass */
.portfolio > .body > .inlineBlock > img {
  border: 1px solid black;
  cursor: pointer;
}
/* line 83, ../sass/_content.sass */
.portfolio > .body > .inlineBlock > img:hover {
  opacity: 0.5;
}

/* line 1, ../sass/_footer.sass */
.footer {
  background: #1b1b1b;
  color: white;
  padding: 1em 0;
}
/* line 8, ../sass/_footer.sass */
.footer .m4.text-center {
  margin: 1em 0 0 0;
}
/* line 19, ../sass/_footer.sass */
.footer > .screenWidth > .m4 > .pull-right > a:not(:last-child) > img {
  margin: 0.5em 0.5em 0 0;
}

/* line 22, ../sass/_footer.sass */
.footer:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 26, ../sass/_footer.sass */
.footer:before {
  content: " ";
  clear: both;
  border-top: 1px solid black;
}

/* line 1, ../sass/_lightbox.sass */
.lightbox {
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  overflow: auto;
}
/* line 10, ../sass/_lightbox.sass */
.lightbox .message {
  z-index: 11;
  width: 80%;
  background: white;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  padding: 10px;
  margin: 7em auto;
}
/* line 20, ../sass/_lightbox.sass */
.lightbox .message .messageFooter {
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}
/* line 24, ../sass/_lightbox.sass */
.lightbox .close {
  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 30px;
  color: white;
  display: block;
  cursor: pointer;
  opacity: 0.7;
}

/* line 2, ../sass/_resume.sass */
.resume .photo {
  padding: 3em;
}
/* line 4, ../sass/_resume.sass */
.resume .photo img {
  width: 100%;
}
/* line 6, ../sass/_resume.sass */
.resume .text {
  padding: 3em;
  color: gray;
  border-left: 1px solid black;
  margin: 25% 0 25% 0;
}

/* line 7, ../sass/_icon.sass */
.footer a {
  color: white;
  font-weight: bold;
}
/* line 10, ../sass/_icon.sass */
.footer .fb-icon {
  background: #3b5998;
  padding: 0.5em 0.9em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -ms-border-radius: 50em;
  -o-border-radius: 50em;
  border-radius: 50em;
}
/* line 12, ../sass/_icon.sass */
.footer .tw-icon {
  background: #41abe1;
  padding: 0.5em 0.9em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -ms-border-radius: 50em;
  -o-border-radius: 50em;
  border-radius: 50em;
}
/* line 14, ../sass/_icon.sass */
.footer .google-icon {
  background: #92112a;
  padding: 0.5em 0.4em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -ms-border-radius: 50em;
  -o-border-radius: 50em;
  border-radius: 50em;
}
/* line 16, ../sass/_icon.sass */
.footer .mail-icon {
  background: #009ce6;
  padding: 0.5em 0.65em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -ms-border-radius: 50em;
  -o-border-radius: 50em;
  border-radius: 50em;
}

/* line 1, ../sass/_goTop.sass */
.goTop {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1.3em;
  color: white;
  padding: 1em 1.2em;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* line 1, ../sass/_color.sass */
.orange {
  background: #e18b6d;
}

/* line 3, ../sass/_color.sass */
.purple {
  background: #bb8fe7;
}

/* line 5, ../sass/_color.sass */
.light-blue {
  background: #63afdb;
}

/* line 7, ../sass/_color.sass */
.dark-green {
  background: #8ec28a;
}

/* line 9, ../sass/_color.sass */
.dark-red {
  background: #c95e5e;
}

/* line 11, ../sass/_color.sass */
.pink {
  background: #e78f8f;
}

/* line 13, ../sass/_color.sass */
.light-purple {
  background: #868bef;
}

/* line 15, ../sass/_color.sass */
.light-yellow {
  background: #f2bc7b;
}

/* line 17, ../sass/_color.sass */
.light-green {
  background: #a8c569;
}

/* line 19, ../sass/_color.sass */
.mobile {
  background: #13b5b1;
}

/* line 21, ../sass/_color.sass */
.hobbies {
  background: #eb6877;
}

/* line 23, ../sass/_color.sass */
.fans {
  background: #7c9fdf;
}

/* line 2, ../sass/_timeline.sass */
.timeLine > .text-center > .title {
  background: #d2d2d2;
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  padding: 1em 2em;
  margin: 2em 0 0 0;
  font-size: 14pt;
  color: #525252;
  font-weight: bold;
}
/* line 11, ../sass/_timeline.sass */
.timeLine > section {
  margin: 2em auto;
}
/* line 15, ../sass/_timeline.sass */
.timeLine > section > .timeline > .events-wrapper > .events > ol > li > a {
  font-size: 12pt;
  font-weight: bold;
}
/* line 18, ../sass/_timeline.sass */
.timeLine > section > .events-content {
  width: 70%;
  padding: 2em;
  border: 1px solid #ababab;
  margin: 0 auto;
  height: auto !important;
}
/* line 26, ../sass/_timeline.sass */
.timeLine > section > .events-content > ol > .selected > h3 {
  font-size: 20pt;
  font-weight: bold;
}
/* line 29, ../sass/_timeline.sass */
.timeLine > section > .events-content > ol > .selected > .date {
  font-size: 12pt;
  color: #b1b1b1;
  margin: 1em auto;
}
/* line 33, ../sass/_timeline.sass */
.timeLine > section > .events-content > ol > .selected > .date:before {
  content: "- ";
}
/* line 35, ../sass/_timeline.sass */
.timeLine > section > .events-content > ol > .selected > p {
  font-size: 14pt;
  color: #848484;
  padding: 0 0 0 2.5em;
}

/* line 1, ../sass/_contact.sass */
.contact {
  border-top: 1px solid #9a9a9a;
}
/* line 4, ../sass/_contact.sass */
.contact > .text-center > .title {
  background: #2f2f2f;
  font-weight: bold;
  padding: 1em 2em;
  color: white;
  font-size: 14pt;
  display: inline-block;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  margin: 2em 0;
}
/* line 13, ../sass/_contact.sass */
.contact > .text-center > .title:after {
  content: "";
  border-bottom: 3px solid #2f2f2f;
  padding: 0 4em;
  position: absolute;
  margin: 2.5em -6.4em;
}
/* line 21, ../sass/_contact.sass */
.contact > .screenWidth > .m6 > .text-center > img {
  margin: 2em auto 0.5em auto;
}
/* line 23, ../sass/_contact.sass */
.contact > .screenWidth > .m6 > .self {
  width: 80%;
  margin: 1em auto 2em auto;
  padding: 0.5em 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
/* line 29, ../sass/_contact.sass */
.contact > .screenWidth > .m6 > .self > p {
  margin: 0.5em auto;
  width: 60%;
  font-weight: bold;
}
/* line 33, ../sass/_contact.sass */
.contact > .screenWidth > .m6 > .self:before {
  content: "";
  background: url(../img/symbol.jpg);
  width: 31px;
  height: 26px;
  position: absolute;
  margin: -1.3em 0 0 0.5em;
}
/* line 40, ../sass/_contact.sass */
.contact > .screenWidth > .m6 > .self:after {
  content: "";
  background: url(../img/symbol2.jpg);
  width: 31px;
  height: 26px;
  position: absolute;
  margin: -0.5em 0 0 23em;
}
/* line 47, ../sass/_contact.sass */
.contact > .screenWidth > .m6 > .contact-info {
  padding: 2em;
}
/* line 49, ../sass/_contact.sass */
.contact > .screenWidth > .m6 > .contact-info > input {
  display: block;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0.7em;
  font-size: 12pt;
  border: 1px solid black;
}
/* line 56, ../sass/_contact.sass */
.contact > .screenWidth > .m6 > .contact-info > textarea {
  width: 100%;
  margin: 0 0 1em 0;
  border: 1px solid black;
}
/* line 61, ../sass/_contact.sass */
.contact > .screenWidth > .m6 > .contact-info > .text-right > button {
  background: white;
  border: 1px solid black;
  padding: 0.5em 2em;
  font-size: 12pt;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 67, ../sass/_contact.sass */
.contact > .screenWidth > .m6 > .contact-info > .text-right > button:hover {
  background: black;
  color: white;
}
